In [1]:
import numpy as np
import pandas as pd

In [2]:
L = [1, 2, 3, 4]
s = pd.Series(L)
s

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s = pd.Series(L, index = ['a', 'b', 'c', 'd'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
s['b']

2

In [6]:
s['a']

1

In [8]:
s[['a', 'd']]

a    1
d    4
dtype: int64

In [9]:
s > 2

a    False
b    False
c     True
d     True
dtype: bool

In [10]:
s[s > 2]

c    3
d    4
dtype: int64

In [14]:
s * 2

a    2
b    4
c    6
d    8
dtype: int64

In [15]:
'b' in s

True

In [16]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
s.values

array([1, 2, 3, 4], dtype=int64)

In [20]:
s.index = ('A', 'B', 'C', 'D')
s

A    1
B    2
C    3
D    4
dtype: int64

In [26]:
One       = {'밀짚모자' : ['루피', '조로', '상디', '우솝'],
             '해군' : ['거프', '키자루', '아카이누', '아오키지'],
             '칠무해' : ['미호크', '쿠마', '모리아', '도플라밍고'],
             '흰수염' : ['뉴게이트', '마르코', '죠즈', '에이스'],
             '혁명군' : ['드래곤', '사보', '코니', '이반']}
One

{'밀짚모자': ['루피', '조로', '상디', '우솝'],
 '해군': ['거프', '키자루', '아카이누', '아오키지'],
 '칠무해': ['미호크', '쿠마', '모리아', '도플라밍고'],
 '흰수염': ['뉴게이트', '마르코', '죠즈', '에이스'],
 '혁명군': ['드래곤', '사보', '코니', '이반']}

In [28]:
OnePiece = pd.DataFrame(One)
OnePiece

  밀짚모자    해군    칠무해   흰수염  혁명군
0   루피    거프    미호크  뉴게이트  드래곤
1   조로   키자루     쿠마   마르코   사보
2   상디  아카이누    모리아    죠즈   코니
3   우솝  아오키지  도플라밍고   에이스   이반

In [29]:
OnePiece.head(3)

  밀짚모자    해군  칠무해   흰수염  혁명군
0   루피    거프  미호크  뉴게이트  드래곤
1   조로   키자루   쿠마   마르코   사보
2   상디  아카이누  모리아    죠즈   코니

In [30]:
OnePiece['해군']

0      거프
1     키자루
2    아카이누
3    아오키지
Name: 해군, dtype: object

In [33]:
OnePiece[['칠무해', '혁명군']]

     칠무해  혁명군
0    미호크  드래곤
1     쿠마   사보
2    모리아   코니
3  도플라밍고   이반

In [34]:
OnePiece.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
OnePiece.columns

Index(['밀짚모자', '해군', '칠무해', '흰수염', '혁명군'], dtype='object')

In [36]:
OnePiece.values

array([['루피', '거프', '미호크', '뉴게이트', '드래곤'],
       ['조로', '키자루', '쿠마', '마르코', '사보'],
       ['상디', '아카이누', '모리아', '죠즈', '코니'],
       ['우솝', '아오키지', '도플라밍고', '에이스', '이반']], dtype=object)

In [37]:
OnePiece.index = ['A', 'B', 'C', 'D']

In [38]:
OnePiece

  밀짚모자    해군    칠무해   흰수염  혁명군
A   루피    거프    미호크  뉴게이트  드래곤
B   조로   키자루     쿠마   마르코   사보
C   상디  아카이누    모리아    죠즈   코니
D   우솝  아오키지  도플라밍고   에이스   이반

In [42]:
OnePiece.loc['C']

밀짚모자      상디
해군      아카이누
칠무해      모리아
흰수염       죠즈
혁명군       코니
Name: C, dtype: object

In [45]:
OnePiece.iloc[1]

밀짚모자     조로
해군      키자루
칠무해      쿠마
흰수염     마르코
혁명군      사보
Name: B, dtype: object

In [46]:
OnePiece.iloc[2:]

  밀짚모자    해군    칠무해  흰수염 혁명군
C   상디  아카이누    모리아   죠즈  코니
D   우솝  아오키지  도플라밍고  에이스  이반

In [47]:
OnePiece.loc['A':]

  밀짚모자    해군    칠무해   흰수염  혁명군
A   루피    거프    미호크  뉴게이트  드래곤
B   조로   키자루     쿠마   마르코   사보
C   상디  아카이누    모리아    죠즈   코니
D   우솝  아오키지  도플라밍고   에이스   이반

In [48]:
OnePiece.loc[['A', 'D']]

  밀짚모자    해군    칠무해   흰수염  혁명군
A   루피    거프    미호크  뉴게이트  드래곤
D   우솝  아오키지  도플라밍고   에이스   이반

In [49]:
OnePiece.loc['B', '혁명군']

'사보'

In [50]:
OnePiece.iloc[2, 3]

'죠즈'

In [52]:
OnePiece.loc['B':, '해군':'흰수염']

     해군    칠무해  흰수염
B   키자루     쿠마  마르코
C  아카이누    모리아   죠즈
D  아오키지  도플라밍고  에이스

In [53]:
OnePiece.loc['B':, '혁명군']

B    사보
C    코니
D    이반
Name: 혁명군, dtype: object

In [56]:
OnePiece.iloc[0:3:2]

  밀짚모자    해군  칠무해   흰수염  혁명군
A   루피    거프  미호크  뉴게이트  드래곤
C   상디  아카이누  모리아    죠즈   코니

In [61]:
OnePiece.loc[OnePiece['혁명군'] == '사보']

  밀짚모자   해군 칠무해  흰수염 혁명군
B   조로  키자루  쿠마  마르코  사보

In [62]:
OnePiece['가'] = ['나', '다', '라', '마']
OnePiece

  밀짚모자    해군    칠무해   흰수염  혁명군  가
A   루피    거프    미호크  뉴게이트  드래곤  나
B   조로   키자루     쿠마   마르코   사보  다
C   상디  아카이누    모리아    죠즈   코니  라
D   우솝  아오키지  도플라밍고   에이스   이반  마

In [63]:
OnePiece.rename(columns = {'가' : 'CP9'}, inplace = True)
OnePiece

  밀짚모자    해군    칠무해   흰수염  혁명군 CP9
A   루피    거프    미호크  뉴게이트  드래곤   나
B   조로   키자루     쿠마   마르코   사보   다
C   상디  아카이누    모리아    죠즈   코니   라
D   우솝  아오키지  도플라밍고   에이스   이반   마

In [64]:
OnePiece.drop('CP9', axis = 1, inplace = True)
OnePiece

  밀짚모자    해군    칠무해   흰수염  혁명군
A   루피    거프    미호크  뉴게이트  드래곤
B   조로   키자루     쿠마   마르코   사보
C   상디  아카이누    모리아    죠즈   코니
D   우솝  아오키지  도플라밍고   에이스   이반

In [65]:
OnePiece.drop('B')

  밀짚모자    해군    칠무해   흰수염  혁명군
A   루피    거프    미호크  뉴게이트  드래곤
C   상디  아카이누    모리아    죠즈   코니
D   우솝  아오키지  도플라밍고   에이스   이반