In [1]:
import pandas as pd
import numpy as np

In [2]:
weather = pd.read_csv('./data/seoul_weather.csv', encoding = 'cp949', skiprows = 11)
weather.head(2)

   \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
0       108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN
1       108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN

In [21]:
# 역대 최고기온인 날의 날짜는?

weather.groupby('최고기온(℃)')['일시'].max()

최고기온(℃)
-16.3    1915-01-13
-14.7    1931-01-11
-13.8    1915-01-14
-13.6    1986-01-05
-13.1    1959-01-05
            ...
 38.0    2018-08-15
 38.2    1994-07-23
 38.3    2018-07-31
 38.4    1994-07-24
 39.6    2018-08-01
Name: 일시, Length: 513, dtype: object

In [37]:
# 일교차가 가장 큰 월은 언제인가?

weather['월'] = weather['일시'].apply(lambda x : x.split('-')[1])

In [43]:
th = weather['최고기온(℃)'] - weather['최저기온(℃)']
th.max()

21.8

In [45]:
weather.groupby('월')[th.max()]

KeyError: 'Column not found: 21.8'

In [34]:
# 월교차가 가장 큰 월은?

       \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각   월
0           108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN  10
1           108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN  10
2           108  서울  1907-10-03     16.2     21.3      NaN     13.1    NaN  10
3           108  서울  1907-10-04     16.5     22.0      NaN     11.2    NaN  10
4           108  서울  1907-10-05     17.6     25.4      NaN     10.9    NaN  10
...         ...  ..         ...      ...      ...      ...      ...    ...  ..
40483       108  서울  2019-10-07     14.8     17.9    00:01     13.3  23:09  10
40484       108  서울  2019-10-08     14.7     19.8    14:42     10.6  23:31  10
40485       108  서울  2019-10-09     13.6     20.4    14:41      7.7  07:04  10
40486       108  서울  2019-10-10     15.2     19.8    15:08     10.7  02:15  10
40487       108  서울  2019-10-11     18.8     26.1    15:48     13.0  06:59  10

[3452 rows x 9 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40488 entries, 0 to 40487
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   		지점번호   40488 non-null  int64
 1   지점명      40488 non-null  object
 2   일시       40488 non-null  object
 3   평균기온(℃)  39732 non-null  float64
 4   최고기온(℃)  39730 non-null  float64
 5   	최고기온시각  27655 non-null  object
 6   최저기온(℃)  39731 non-null  float64
 7   최저기온시각   27646 non-null  object
 8   월        40488 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 2.8+ MB