In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'D:\\FinTech\\python\\Pandas'

In [3]:
# Salaries1.csv 파일을 dataframe으로 읽으시오

df = pd.read_csv('./data/Salaries1.csv')
df.head(5)

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [8]:
# BasePay의 평균은 얼마인가?

df['BasePay'].mean()

75601.13714620461

In [12]:
# OverTime의 최대값은?
df['OvertimePay'].max()

245131.88

In [19]:
# 'JOSEPH DRISCOLL'의 JOB TITLE은?
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [31]:
# TotalPayBenefit의 최고금액을 수령하는 사람의 이름은?
df.sort_values('TotalPayBenefits', ascending = False).iloc[0]['EmployeeName']

'NATHANIEL FORD'

In [34]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [27]:
# BasePay의 연도별 평균금액은?

df.groupby('Year')['BasePay'].mean()

Year
2011     63595.956517
2012    106964.140280
Name: BasePay, dtype: float64

In [36]:
# JobTitle에서 가장 많은 Job 상위 5개?

df['JobTitle'].value_counts().iloc[:5]

TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse    1003
CUSTODIAN            796
Name: JobTitle, dtype: int64

In [40]:
# 2011년도에 오직 한 사람만이 수행하는 job의 개수는?

sum(df[df['Year'] == 2011]['JobTitle'].value_counts() == 1)

200

In [48]:
# 'Chief'라는 직업을 가진 사람의 수는?

jobtitle = df['JobTitle'].apply(lambda x: x.lower())

total = 0
for t in jobtitle:
    if 'chief' in t:
        total += 1
total

318

In [47]:
sum(df['JobTitle'].apply(lambda x: x.lower()).str.contains('chief'))

318