In [5]:
import pandas as pd
import numpy as np

In [6]:
weather = pd.read_csv('./data/seoul_weather.csv', encoding = 'cp949', skiprows = 11)
weather.head(2)

   \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
0       108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN
1       108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN

In [9]:
# 역대 최고기온인 날의 날짜는?

best = weather['최고기온(℃)']
best.max()

39.6

In [10]:
weather[best == 39.6]['일시']

40051    2018-08-01
Name: 일시, dtype: object

In [60]:
# <선생님 버전>

weather.sort_values('최고기온(℃)', ascending = False).iloc[0]

\t\t지점번호           108
지점명                 서울
일시          2018-08-01
평균기온(℃)           33.6
최고기온(℃)           39.6
\t최고기온시각         15:36
최저기온(℃)           27.8
최저기온시각           05:56
월                   08
일교차               11.8
Name: 40051, dtype: object

In [22]:
# 일교차가 가장 큰 월은 언제인가?

weather['월'] = weather['일시'].apply(lambda x : x.split('-')[1])

In [23]:
th = weather['최고기온(℃)'] - weather['최저기온(℃)']
th.max()

21.8

In [24]:
weather[th == 21.8]['월']

12619    04
Name: 월, dtype: object

In [37]:
# 월교차(월간 온도 분산)가 가장 큰 년도는?

weather['일교차'] = th
weather

,\t\t지점번호,지점명,일시,평균기온(℃),최고기온(℃),\t최고기온시각,최저기온(℃),최저기온시각,월,일교차
0,108,서울,1907-10-01,13.5,20.7,NaN,7.9,NaN,10,12.8
1,108,서울,1907-10-02,16.2,22.0,NaN,7.9,NaN,10,14.1
2,108,서울,1907-10-03,16.2,21.3,NaN,13.1,NaN,10,8.2
3,108,서울,1907-10-04,16.5,22.0,NaN,11.2,NaN,10,10.8
4,108,서울,1907-10-05,17.6,25.4,NaN,10.9,NaN,10,14.5
...,...,...,...,...,...,...,...,...,...,...
40483,108,서울,2019-10-07,14.8,17.9,00:01,13.3,23:09,10,4.6
40484,108,서울,2019-10-08,14.7,19.8,14:42,10.6,23:31,10,9.2
40485,108,서울,2019-10-09,13.6,20.4,14:41,7.7,07:04,10,12.7
40486,108,서울,2019-10-10,15.2,19.8,15:08,10.7,02:15,10,9.1
40487,108,서울,2019-10-11,18.8,26.1,15:48,13.0,06:59,10,13.1

In [55]:
dif = weather.groupby('월')['일교차'].max()
dif

월
01    21.3
02    17.7
03    21.2
04    21.8
05    21.4
06    21.0
07    16.1
08    17.2
09    18.7
10    21.2
11    19.3
12    19.7
Name: 일교차, dtype: float64

In [53]:
weather[th == 21.8]['일시']

12619    1942-04-19
Name: 일시, dtype: object

In [68]:
# <선생님 버전>
weather['년'] = weather['일시'].apply(lambda x : x.split('-')[0])
weather.groupby(['년', '월'])['평균기온(℃)'].mean().unstack().std(axis = 1).sort_values(ascending = False).iloc[:1]

년
1917    12.088418
dtype: float64

In [63]:
weather

,\t\t지점번호,지점명,일시,평균기온(℃),최고기온(℃),\t최고기온시각,최저기온(℃),최저기온시각,월,일교차,년
0,108,서울,1907-10-01,13.5,20.7,NaN,7.9,NaN,10,12.8,1907
1,108,서울,1907-10-02,16.2,22.0,NaN,7.9,NaN,10,14.1,1907
2,108,서울,1907-10-03,16.2,21.3,NaN,13.1,NaN,10,8.2,1907
3,108,서울,1907-10-04,16.5,22.0,NaN,11.2,NaN,10,10.8,1907
4,108,서울,1907-10-05,17.6,25.4,NaN,10.9,NaN,10,14.5,1907
...,...,...,...,...,...,...,...,...,...,...,...
40483,108,서울,2019-10-07,14.8,17.9,00:01,13.3,23:09,10,4.6,2019
40484,108,서울,2019-10-08,14.7,19.8,14:42,10.6,23:31,10,9.2,2019
40485,108,서울,2019-10-09,13.6,20.4,14:41,7.7,07:04,10,12.7,2019
40486,108,서울,2019-10-10,15.2,19.8,15:08,10.7,02:15,10,9.1,2019
40487,108,서울,2019-10-11,18.8,26.1,15:48,13.0,06:59,10,13.1,2019