In [68]:
# Tuple
myTuple = ('tuple', (1,2,3) , [4,5,6,7,8] ,'7', '8', '9')

# 'tuple'을 출력하세요
myTuple[0]

'tuple'

In [69]:
# 3을 출력하세요
myTuple[1][2]

3

In [70]:
# 4,5를 출력하세요
myTuple[2][:2]

[4, 5]

In [ ]:
# [4,5,6]을 출력하세요
myTuple[2][:3]

In [ ]:
# tuple의 길이를 리턴하세요 ( 요소의 갯수가 몇 개인지 )
len(myTuple[0])

In [73]:
# '7'이 있는지 확인하세요
'7' in myTuple

True

In [74]:
# '7'의 인덱스를 출력하세요.
myTuple.index('7')

3

In [75]:
# '7'이 몇 개 있는지 확인하세요
myTuple.count('7')

1

In [76]:
# 인데스 2번를 출력하세요
myTuple[2]

[4, 5, 6, 7, 8]

In [77]:
# 인데스 2번에서 최대값을 출력하세요
max(myTuple[2])

8

In [78]:
# 인데스 2번에서 최소값을 출력하세요
min(myTuple[2])

4

In [80]:
# 인데스 2번에서 총합을 출력하세요
a = sum(myTuple[2])
print(a)

30

In [81]:
# 인데스 2번에서 평균을 출력하세요
print(a / len(myTuple[2]))

6.0

In [82]:
# 인데스 2번를 내림차순 정렬해서 출력하세요.
sorted(myTuple[2], reverse = True)

[8, 7, 6, 5, 4]

In [86]:
# Set

# 원소가 없는 set인 s를 만드세요
s = set()

In [89]:
# s에 원소 'sky'와 'earth'를 추가하세요
s.add('sky')
s.add('earth')
print(s)

{'sky', 'earth'}

In [90]:
# s에 1,2 두 원소를 추가하세요
s.add(1)
s.add(2)
print(s)

{'sky', 1, 2, 'earth'}

In [92]:
# s에서 'sky'를 삭제하세요
s.remove('sky')
print(s)

{1, 2, 'earth'}

In [93]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}
# 두 집합의 합집합을 출력
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [94]:
# 두 집합의 교집합을 출력
A.intersection(B)

{1, 2, 3}

In [95]:
# A의 B에 대한 차집합
A.difference(B)

{4, 5, 6}

In [ ]:
# 대칭차집합

In [96]:
# C가 A의 부분집합인지 확인
# A가 C를 포함하는지 확인

# 집합 B의 길이를 출력
len(B)

6

In [97]:
# 집합 B의 최대값 출력
# 집합 B의 최소값 출력
# 집합 B의 합을 출력
# 집합 B의 평균출력
# 집합 B의 내림차순 출력
sorted(B, reverse = True)

[9, 8, 7, 3, 2, 1]

In [98]:
# 집합 B에 5가 포함되어 있는지 확인
5 in B

False

In [99]:
# Dictionary

# 'mydict'라는 딕셔너리를 만드세요.
mydict = {}

In [105]:
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
mydict = {
    'red':4,
    'blue':3,
    'green':1
}
print(mydict)

{'red': 4, 'blue': 3, 'green': 1}

In [106]:
# key에 'blue'가 있는지 확인하세요.
'blue' in mydict.keys()

True

In [107]:
# mydict의 길이를 출력하세요.
len(mydict)

3

In [108]:
# 'red'의 값을 출력하세요.
mydict['red']

4

In [124]:
# 'red'의 값을 10으로 수정하세요.
mydict['red'] = 10
print(mydict)

{'red': 10, 'green': 1}

In [125]:
# key값만 출력하세요
mydict.keys()

dict_keys(['red', 'green'])

In [126]:
# value값만 출력하세요
mydict.values()

dict_values([10, 1])

In [127]:
# key와 value를 튜플로 출력하세요.
mydict.items()

dict_items([('red', 10), ('green', 1)])

In [128]:
# (key기준으로 정렬하세요.)

In [129]:
# (value기준으로 정렬하세요)

In [131]:
# key 'blue'요소를 삭제하세요

KeyError: 'blue'

In [132]:
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
mydict.get('pink')

In [135]:
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
mydict.get('pink')
mydict['pink'] = 20
print(mydict)

{'red': 10, 'green': 1, 'pink': 20}

In [136]:
# value에 20이 있는지 확인하세요.
20 in mydict.values()

True

In [138]:
# key는 'yellow'에 value는 30을 추가하세요.
mydict['yellow'] = 30
print(mydict)

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 30}

In [143]:
# yourdict = {'파랑':50, '빨강':70}을 합하세요..
yourdict = {'파랑':50, '빨강':70}
mydict.update(yourdict)
print(mydict)

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 30, '파랑': 50, '빨강': 70}

In [146]:
## 임의 정수(n)를 입력받은 후 0부터 n까지의 정수 중 짝수들의 합을 구하시오.
a = int(input('정수를 입력하시오'))
suma = 0
for i in range(a):
    if i % 2 == 0:
        suma += i
print(suma)

정수를 입력하시오9
20

In [152]:
# names = {'mary':1520, 'tom':5214, 'park':5478, 'sams':5478}
# # 이름을 입력받은 후 names dict에 이름이 있으면 값을 출력하고,
# # 없으면 새로운 값 2000과 함께 dict에 'key':'value'로 추가
# # setdefault를 사용하지 않음..

names = {'mary':1520, 'tom':5214, 'park':5478, 'sams':5478}
person = input('이름을 입력하시오')
if person in names:
    print(names[person])
else:
    names[person] = 2000
    print(names)

이름을 입력하시오asd
{'mary': 1520, 'tom': 5214, 'park': 5478, 'sams': 5478, 'asd': 2000}

In [154]:
# text = 'python is fun' # text의 character를 모음만 대문자로 전환해서 출력하세요. 
# 참고) 영어모음 = ‘aeiou’

text = 'python is fun'
for i in text:
    if i in 'aeiou':
        a = i.upper()
        print(a)

O
I
U

In [156]:
text = 'python is fun'
for i,j in enumerate(text):
    print(i,j)

0 p
1 y
2 t
3 h
4 o
5 n
6
7 i
8 s
9
10 f
11 u
12 n

In [159]:
# 1~20까지 수에서 짝수만 리스트에 담으세요.
a = []
for i in range(1,21):
    if i % 2 == 0:
        a.append(i)
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [168]:
li = []
a = 1
while a <= 20:
    a += 1
    if a % 2 == 0:
        li.append(a)
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [161]:
[i for i in range(1, 21) if i % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [169]:
# 1~10까지 정수를 출력하는 while문에서 continue와 break를 이용해서 3,4,5,6만 출력하도록 하시오.
a = 0
while a <= 10:
    a += 1
    if a < 3:
        continue
    if a >= 7:
        break
    print(a)

3
4
5
6

In [172]:
# x = ['a','b','c','d','e'], y = ['가','나','다','라','마'] 두 리스트의 원소들의 모든 조합을 아래와 같이 출력하시오. =>
# [('a','가'), ('a','나'), ('a', '다') ... ('e','라'), ('e', '마')]

x = ['a','b','c','d','e']
y = ['가','나','다','라','마']

a = []
for i in range(len(x)):
    for j in range(len(y)):
        a.append((x[i], y[j]))
print(a)

[('a', '가'), ('a', '나'), ('a', '다'), ('a', '라'), ('a', '마'), ('b', '가'), ('b', '나'), ('b', '다'), ('b', '라'), ('b', '마'), ('c', '가'), ('c', '나'), ('c', '다'), ('c', '라'), ('c', '마'), ('d', '가'), ('d', '나'), ('d', '다'), ('d', '라'), ('d', '마'), ('e', '가'), ('e', '나'), ('e', '다'), ('e', '라'), ('e', '마')]

In [184]:
# computational thinking에서 홀수인덱스만 리스트에 담으세요..
li=[]
hole = 'computational thinking'
for i in range(1, len(hole), 2):
    b = hole[i]
    li.append(b)
print(li)

['o', 'p', 't', 't', 'o', 'a', ' ', 'h', 'n', 'i', 'g']

In [189]:
# 점수를 5회 입력받은 후 평균을 출력하세요.
score = 0
wow = 0
while score < 5:
    a = int(input('점수를 입력하시오'))
    score += 1
    wow += a
    b = wow / 5
print(b)

점수를 입력하시오10
점수를 입력하시오20
점수를 입력하시오30
점수를 입력하시오40
점수를 입력하시오50
30.0

In [201]:
# 매개변수 3개를 받고, 합계, 평균, 최대값을 각각 리턴하는 함수를 만들고 실행하시오.

class wow:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    def setdata(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    def suma(self):
        result = self.a + self.b + self.c
        return result 
    def ave(self):
        result = (self.a + self.b + self.c) / 3
        return result
    def maxa(self):
        result = max(self.a, self.b, self.c)
        return result

p1 = wow(1,2,3)
p1.a
 
print(p1.suma())
print(p1.ave())

6
2.0

In [19]:
# 임의의 정수를 입력받은 후 절대값을 리턴하는 함수를 만들고 실행하시오.


def best(a):
    print(abs(a))

best(-9)

9

In [27]:
# 임의의 정수를 입력받은 후 0부터 임의의 정수까지의 홀수 합을 리턴하는 함수를 만들고 실행하시오.


def suma(num):
    c = 0
    for i in range(int(num) + 1):
        if i % 2 == 1:
            c += i
    print(c)

            
suma(7)

16

In [31]:
# 반지름을 입력받은 후 원의 면적을 리턴하는 함수를 구현하고 실행하시오. 
# pi = 3.14, circle_area = (radius**2)*pi

def circle(r):
    area = 3.14 * r ** 2
    return area

circle(2)

12.56

In [1]:
# Tuple
myTuple = ('tuple', (1,2,3) , [4,5,6,7,8] ,'7', '8', '9')

# 'tuple'을 출력하세요
myTuple[0]

'tuple'

In [2]:
# 3을 출력하세요
myTuple[1][2]

3

In [3]:
# 4,5를 출력하세요
myTuple[2][:2]

[4, 5]

In [4]:
# [4,5,6]을 출력하세요
myTuple[2][:3]

[4, 5, 6]

In [5]:
# tuple의 길이를 리턴하세요 ( 요소의 갯수가 몇 개인지 )
len(myTuple)

6

In [6]:
# '7'이 있는지 확인하세요
'7' in myTuple

True

In [7]:
# '7'의 인덱스를 출력하세요.
myTuple.index('7')

3

In [8]:
# '7'이 몇 개 있는지 확인하세요
myTuple.count('7')

1

In [9]:
# 인데스 2번를 출력하세요
myTuple[2]

[4, 5, 6, 7, 8]

In [10]:
# 인데스 2번에서 최대값을 출력하세요
max(myTuple[2])

8

In [11]:
# 인데스 2번에서 최소값을 출력하세요
min(myTuple[2])

4

In [12]:
# 인데스 2번에서 총합을 출력하세요
sum(myTuple[2])

30

In [13]:
# 인데스 2번에서 평균을 출력하세요
sum(myTuple[2]) / len(myTuple[2])

6.0

In [14]:
# 인데스 2번를 내림차순 정렬해서 출력하세요.
sorted(myTuple[2], reverse = True )

[8, 7, 6, 5, 4]

In [15]:
# Set

# 원소가 없는 set인 s를 만드세요
s = set()

In [16]:
# s에 원소 'sky'와 'earth'를 추가하세요
s.add('sky')
s.add('earth')
print(s)

{'sky', 'earth'}

In [17]:
# s에 1,2 두 원소를 추가하세요
s.add(1)
s.add(2)
print(s)

{'sky', 2, 'earth', 1}

In [18]:
# s에서 'sky'를 삭제하세요
s.remove('sky')
print(s)

{2, 'earth', 1}

In [19]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}
# 두 집합의 합집합을 출력
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
# 두 집합의 교집합을 출력
A.intersection(B)

{1, 2, 3}

In [21]:
# A의 B에 대한 차집합
A.difference(B)

{4, 5, 6}

In [48]:
# 대칭차집합
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

In [51]:
# C가 A의 부분집합인지 확인
C.issubset(A)

True

In [52]:
# A가 C를 포함하는지 확인
A.issuperset(C)

True

In [22]:
# 집합 B의 길이를 출력
len(B)

6

In [23]:
# 집합 B의 최대값 출력
max(B)

9

In [24]:
# 집합 B의 최소값 출력
min(B)

1

In [25]:
# 집합 B의 합을 출력
sum(B)

30

In [26]:
# 집합 B의 평균출력
sum(B) / len(B)

5.0

In [27]:
# 집합 B의 내림차순 출력
sorted(B, reverse = True)

[9, 8, 7, 3, 2, 1]

In [28]:
# 집합 B에 5가 포함되어 있는지 확인
5 in B

False

In [54]:
# Dictionary

# 'mydict'라는 딕셔너리를 만드세요.
myd = {}

In [55]:
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
myd['red'] = 4
myd['blue'] = 3
myd['green'] = 1
print(myd)

{'red': 4, 'blue': 3, 'green': 1}

In [56]:
# key에 'blue'가 있는지 확인하세요.
'blue' in myd.keys()

True

In [57]:
# mydict의 길이를 출력하세요.
len(myd)

3

In [58]:
# 'red'의 값을 출력하세요.
myd['red']

4

In [59]:
# 'red'의 값을 10으로 수정하세요.
myd['red'] = 10

In [60]:
# key값만 출력하세요
myd.keys()

dict_keys(['red', 'blue', 'green'])

In [61]:
# value값만 출력하세요
myd.values()

dict_values([10, 3, 1])

In [62]:
# key와 value를 튜플로 출력하세요.
myd.items()

dict_items([('red', 10), ('blue', 3), ('green', 1)])

In [64]:
# (key기준으로 정렬하세요.)
sorted(myd.items(), key = lambda x : x[0], reverse = True)

[('red', 10), ('green', 1), ('blue', 3)]

In [66]:
# (value기준으로 정렬하세요)
sorted(myd.items(), key = lambda x : x[1], reverse = True)

[('red', 10), ('blue', 3), ('green', 1)]

In [41]:
# key 'blue'요소를 삭제하세요
del myd['blue']
myd

{'red': 10, 'green': 1}

In [42]:
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
myd.get('pink')

In [43]:
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
myd['pink'] = 20
myd

{'red': 10, 'green': 1, 'pink': 20}

In [44]:
# value에 20이 있는지 확인하세요.
20 in myd.values()

True

In [45]:
# key는 'yellow'에 value는 30을 추가하세요.
myd['yellow'] = 30
myd

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 30}

In [46]:
# yourdict = {'파랑':50, '빨강':70}을 합하세요..
yourdict = {'파랑':50, '빨강':70}
myd.update(yourdict)

In [47]:
myd

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 30, '파랑': 50, '빨강': 70}

In [68]:
# If

## 임의 정수(n)를 입력받은 후 0부터 n까지의 정수 중 짝수들의 합을 구하시오.

num = int(input('임의의 정수를 입력하시오'))
total = 0
for i in range(num + 1):
    if i % 2 == 0:
        total += i
print(total)

임의의 정수를 입력하시오9
20

In [73]:
# names = {'mary':1520, 'tom':5214, 'park':5478, 'sams':5478}
# 이름을 입력받은 후 names dict에 이름이 있으면 값을 출력하고,
# 없으면 새로운 값 2000과 함께 dict에 'key':'value'로 추가
# setdefault를 사용하지 않음..

names = {'mary':1520, 'tom':5214, 'park':5478, 'sams':5478}

name = input('이름을 입력하시오')

if name in names:
    print(names[name])
else:
    names[name] = 2000
    print(names)

이름을 입력하시오aaaa
{'mary': 1520, 'tom': 5214, 'park': 5478, 'sams': 5478, 'aaaa': 2000}

In [77]:
# 학점 출력.. 점수를 입력받은 후..
# 90점 이상이면 "당신은 'A'학점입니다"를 출력
# 80점 이상이면서 90점 미만이면 "당신은 'B'학점입니다"를 출력
# 70점 이상이면서 80점 미만이면 "당신은 'C'학점입니다"를 출력
# 70점 미만이면 "당신은 D학점입니다"를 출력

score = int(input('점수를 입력하시오'))
if 90 <= score:
    print('넌 A')
elif 80 <= score < 90:
    print('넌 B')
elif 70 <= score < 80:
    print('넌 C')
else:
    print('넌 D')

점수를 입력하시오88
넌 B

In [79]:
# 비밀번호 = 1234 인 경우 비밀번호를 입력받은 후 맞으면' 환영합니다'. 
# 틀리면 '비밀번호가 틀립니다'를 출력하시오

psw = int(input('비밀번호를 입력하시오'))

if psw == 1234:
    print('환영해')
else:
    print('틀렸어')

비밀번호를 입력하시오468
틀렸어

In [82]:
# 임의의 정수를 입력받은 후 짝수면 ' 짝수입니다' 홀수면 '홀수입니다'를 출력

num = int(input('임의의 정수를 입력하시오'))

if num % 2 == 0:
    print('짝수야')
else:
    print('홀수야')

임의의 정수를 입력하시오86
짝수야

In [102]:
# 주민번호 '940415-1041614'
# 주민번호를 입력받은 후 '당신의 나이는 _이고, 성별은 _입니다'를 출력하시오

num = input('주민번호를 입력하시오')
age = 2022 - (1900 + int(num[:2]))


def gender(num):
    if num[7] == '1':
        return  '남자'
    else:
        return  '여자'


print(f'당신의 나이는 {age}살 이고, 성별은 {gender(num)}입니다.')

주민번호를 입력하시오940415-1041614
당신의 나이는 28살 이고, 성별은 남자입니다.

In [107]:
scores = {'Mary':85, 'Sam':95, 'Bob':87, 'Han':77}

# 이름을 입력받은 후 이름이 있으면 80점 이상이면 '합격입니다',
# 이하이면 '불합격입니다'를 출력하시오. 이름이 없으면 값을 0으로 하여 추가하시오

name = input('이름을 입력하시오')

if name in scores:
    if scores[name] >= 80:
        print('합격입니다')
    else:
        print('불합격입니다')
else:
    scores[name] = 0
    print(scores)

이름을 입력하시오Han
불합격입니다

In [113]:
# 가위, 바위, 보 게임
mine = input('mime <= 가위, 바위, 보 중에서 하나를 선택하세요')
yours = input('yours <= 가위, 바위, 보 중에서 하나를 선택하세요')

# 비겼습니다
# 내가 이겼습니다
# 당신이 이겼습니다

if mine == yours:
    print('비김')
elif mine == '가위':
    if yours == '바위':
        print('짐')
    else:;ㅣ
        print('이김')
elif mine == '바위':
    if yours == '가위':
        print('이김')
    else:
        print('짐')
elif mine == '보':
    if yours == '가위':
        print('짐')
    else:
        print('이김')

mime <= 가위, 바위, 보 중에서 하나를 선택하세요바위
yours <= 가위, 바위, 보 중에서 하나를 선택하세요가위
이김

In [116]:
# 나이를 입력받은 후, 50대 이상이면 중년이시군요. 20~40대면 젊으시군요
# 20세 미만이면 어리시군요를 출력

age = int(input('나이를 입력하세요'))
if age >= 50:
    print('중년이시군요')
elif 20<= age <50:
    print('젊으시군요')
else:
    print('어리시군요')

나이를 입력하세요10
어리시군요

In [130]:
# For

# text = 'python is fun' # text의 character를 모음만 대문자로 전환해서 출력하세요. 참고) 영어모음 = ‘aeiou’

text = 'python is fun'

for i in text:
    if i in 'aeiou':
        a = i.upper()
        print(a)

O
I
U

In [141]:
# 모음의 숫자를 계산하시오

text = 'computational thinking'
vol = 'aeiouAEIOU'

piece = 0
for i in text:
    if i in vol:
        piece += 1
print(piece)

8

In [144]:
# word의 길이가 4 이상인 단어의 단어길이 총합을 구하시오
words = ['mountain', 'sea', 'sky', 'river', 'cloud', 'tree', 'lake']

count = 0

for i in words:
    if len(i) >= 4:
        count += len(i)
print(count)

26

In [153]:
# 두 리스트 원소간의 모든 조합을 리스트에 담으시오
# [('a', '가'), ('a', '나'), ... ('d', '다'), ('d', '라')]

L1 = ['a', 'b', 'c', 'd']
L2 = ['가', '나', '다', '라']

L=[]
for i in L1:
    for j in L2:
        a = (i, j)
        L.append(a)
print(L)

[('a', '가'), ('a', '나'), ('a', '다'), ('a', '라'), ('b', '가'), ('b', '나'), ('b', '다'), ('b', '라'), ('c', '가'), ('c', '나'), ('c', '다'), ('c', '라'), ('d', '가'), ('d', '나'), ('d', '다'), ('d', '라')]

In [161]:
# for문과 while문을 이용해서 1~20까지의 정수에서 짝수의 합과 홀수의 합을 구하시오

# suma = 0
# sumb = 0

# for i in range(0, 21, 2):
#     suma += i
# for j in range(1, 21, 2):
#     sumb += j
# print(suma)
# print(sumb)

i = 0
suma = 0
sumb = 0
while i < 20:
    i += 1
    if i % 2 == 0:
        suma += i
    else:
        sumb += i
print(suma)
print(sumb)

110
100

In [168]:
# break와 continue를 이용해서 1부터 10까지 정수 중에서 4,5,6,7만을 출력하시오

num = 1
while num < 10:
    num += 1
    if num < 4:
        continue
    if num >= 8:
        break
    print(num, end = ' ')

4 5 6 7

In [172]:
# 반복문을 이용해서 최대값과 최소값을 구하시오
L = [70, 100, 80, 120, 130, 170, 30]
max_a = L[0]
min_a = L[0]

for i in L:
    if max_a < i:
        max_a = i
    if min_a > i:
        min_a = i
print(max_a)
print(min_a)

170
30

In [173]:
# *
# **
# ***
# ****
# *****

for i in range(1, 6):
    print('*' * i )

*
**
***
****
*****

In [174]:
# *****
#  ****
#   ***
#    **
#     *

for i in range(5):
    print(i * ' ',(5-i) * '*')

 *****
  ****
   ***
    **
     *

In [178]:
#     *
#    **
#   ***
#  ****
# *****

for i in range(1, 6):
    print(' ' * (5-i), '*' * i)

     *
    **
   ***
  ****
 *****

In [179]:
# *****
# ****
# ***
# **
# *

for i in range(5):
    print('*' * (5-i), ' '* i)

*****
****
***
**
*

In [182]:
# 임의의 수를 입력받은 후 팩토리얼을 계산하는 코드를 작성하시오
# 5! = 5*4*3*2*1

num = int(input('임의의 수를 입력하시오'))
re = 1
while num > 1:
    re *= num
    num -= 1
    
print(re)

임의의 수를 입력하시오5
120

In [186]:
# 1~20까지 수에서 짝수만 리스트에 담으세요.
# => for문과 while문, list comprehension을 각각 활용


# li = []
# for i in range(1, 21):
#     if i % 2 == 0:
#         li.append(i)
# print(li)

# li = []
# num = 1
# while num < 20:
#     num += 1
#     if num % 2 == 0:
#         li.append(num)
# print(li)

[i for i in range(1, 21) if i % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [190]:
# x = ['a','b','c','d','e'], y = ['가','나','다','라','마'] 두 리스트의 원소들의 모든 조합을 아래와 같이 출력하시오. =>
# [('a','가'), ('a','나'), ('a', '다') ... ('e','라'), ('e', '마')]

x = ['a','b','c','d','e']
y = ['가','나','다','라','마']
li = []
for i in x:
    for j in y:
        li.append((i,j))
print(li)

[('a', '가'), ('a', '나'), ('a', '다'), ('a', '라'), ('a', '마'), ('b', '가'), ('b', '나'), ('b', '다'), ('b', '라'), ('b', '마'), ('c', '가'), ('c', '나'), ('c', '다'), ('c', '라'), ('c', '마'), ('d', '가'), ('d', '나'), ('d', '다'), ('d', '라'), ('d', '마'), ('e', '가'), ('e', '나'), ('e', '다'), ('e', '라'), ('e', '마')]

In [200]:
# computational thinking에서 홀수인덱스만 리스트에 담으세요..

text = 'computational thinking'

li = []
for i in text:

['o', 'p', 't', 't', 'o', ' ', 't', 'h', 'g']