In [1]:
# String
txt1 = 'A tale that was not right'
# 'ale' 이 출력..
txt1[3:6]

'ale'

In [2]:
# 'A tale' 출력
txt1[:6]

'A tale'

In [7]:
# 'not' 출력
txt1[16:19]

'not'

In [8]:
# txt1을 소문자 전환
txt1.lower()

'a tale that was not right'

In [9]:
# txt1을 대문자 전환
txt1.upper()

'A TALE THAT WAS NOT RIGHT'

In [10]:
# 'o'가 몇 개 존재하는가?
txt1.count('o')

1

In [11]:
# 'o'가 몇 번 인덱스에 존재하는가?
txt1.index('o')

17

In [13]:
# txt1의 길이는 어떻게 되는가?
len(txt1)

25

In [14]:
# space를 기준으로 나누어서 List에 담으세요..
txt1.split()

['A', 'tale', 'that', 'was', 'not', 'right']

In [20]:
# 'tale'을 'story'로 바꾸세요..
a = txt1.replace('tale', 'story')
print(a)

A story that was not right

In [21]:
# txt1 안에 'right'가 존재하는지 확인
'right' in txt1

True

In [27]:
# List
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

# 1. sol에서 ['수성','금성']을 출력
sol[1:3]

['수성', '금성']

In [28]:
# 2. sol에서 '지구' 위치 인덱스 출력
sol.index('지구')

3

In [29]:
# 3. sol에서 '화성'을 '해왕성'으로 수정
sol[4] = '해왕성'
print(sol)

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [30]:
# 4. '수성'자리에 '명왕성' 삽입
sol.insert(1, '명왕성')
print(sol)

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [31]:
# 5. '토성'을 맨 끝에 삽입
sol.append('토성')
print(sol)

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [32]:
# 6. 맨 끝 요소를 삭제하고 리턴
sol.pop()
print(sol)

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [33]:
# 7. '금성'을 제거
sol.remove('금성')
print(sol)

['태양', '명왕성', '수성', '지구', '해왕성', '목성', '지구']

In [34]:
# 8. 1번 인덱스에서 3번 인덱스까지 삭제
del sol[1:4]
print(sol)

['태양', '해왕성', '목성', '지구']

In [35]:
# 9. 인덱스 2번 요소 삭제
sol.pop(2)
print(sol)

['태양', '해왕성', '지구']

In [36]:
# 10. sol과 sol1을 합치세요
sol + sol1

['태양', '해왕성', '지구', '토성', '천황성', '해왕성']

In [37]:
# 11. 내림차순 정렬
sorted(sol, reverse = True)

['해왕성', '태양', '지구']

In [38]:
# 12. 오름차순 정렬
sorted(sol)

['지구', '태양', '해왕성']

In [39]:
# 13. '만리장성'이 있는지 확인
'만리장성' in sol

False

In [40]:
# 14. so1을 3번 반복하세요
sol * 3

['태양', '해왕성', '지구', '태양', '해왕성', '지구', '태양', '해왕성', '지구']

In [41]:
# 15. 길이를 출력하세요
len(sol)

3

In [42]:
# 16. '지구'가 몇 개 포함되어있는지 확인.
sol.count('지구')

1

In [43]:
# 17. 모든 원소를 지우세요.
sol.clear()
print(sol)

[]

In [45]:
# 18. sol리스트를 삭제하세요..
del sol

NameError: name 'sol' is not defined

In [46]:
# Tuple
myTuple = ('tuple', (1,2,3) , [4,5,6,7,8] ,'7', '8', '9')

# 'tuple'을 출력하세요
myTuple[0]

'tuple'

In [47]:
# 3을 출력하세요
myTuple[1][2]

3

In [48]:
# 4,5를 출력하세요
myTuple[2][:2]

[4, 5]

In [49]:
# [4,5,6]을 출력하세요
myTuple[2][:3]

[4, 5, 6]

In [50]:
# tuple의 길이를 리턴하세요 ( 요소의 갯수가 몇 개인지 )
len(myTuple)

6

In [51]:
# '7'이 있는지 확인하세요
'7' in myTuple

True

In [57]:
# '7'의 인덱스를 출력하세요.
myTuple.index('7')

3

In [55]:
# '7'이 몇 개 있는지 확인하세요
myTuple.count('7')

1

In [58]:
# 인데스 2번를 출력하세요
myTuple[2]

[4, 5, 6, 7, 8]

In [59]:
# 인데스 2번에서 최대값을 출력하세요
max(myTuple[2])

8

In [60]:
# 인데스 2번에서 최소값을 출력하세요
min(myTuple[2])

4

In [62]:
# 인데스 2번에서 총합을 출력하세요
a = sum(myTuple[2])
print(a)

30

In [64]:
# 인데스 2번에서 평균을 출력하세요
len(myTuple[2])
a / 5

6.0

In [65]:
# 인데스 2번를 내림차순 정렬해서 출력하세요.
sorted(myTuple[2], reverse = True)

[8, 7, 6, 5, 4]

In [66]:
# Set

# 원소가 없는 set인 s를 만드세요
s = set()

In [68]:
# s에 원소 'sky'와 'earth'를 추가하세요
s.add('sky')
s.add('earth')
print(s)

{'earth', 'sky'}

In [69]:
# s에 1,2 두 원소를 추가하세요
s.add(1)
s.add(2)
print(s)

{1, 2, 'earth', 'sky'}

In [72]:
# s에서 'sky'를 삭제하세요
print(s)

{1, 2, 'earth'}

In [ ]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}
# 두 집합의 합집합을 출력

In [ ]:
# 두 집합의 교집합을 출력

In [ ]:
# A의 B에 대한 차집합

In [ ]:
# 대칭차집합

In [ ]:
# C가 A의 부분집합인지 확인

In [ ]:
# A가 C를 포함하는지 확인

In [73]:
# 집합 B의 길이를 출력
# 집합 B의 최대값 출력
# 집합 B의 최소값 출력
# 집합 B의 합을 출력
# 집합 B의 평균출력
# 집합 B의 내림차순 출력
# 집합 B에 5가 포함되어 있는지 확인

In [116]:
# Dictionary

# 'mydict'라는 딕셔너리를 만드세요.
m = {}

In [117]:
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
m = {
    'red':4,
    'blue':3,
    'green':1
}

In [118]:
# key에 'blue'가 있는지 확인하세요.
'blue' in m

True

In [119]:
# mydict의 길이를 출력하세요.
len(m)

3

In [120]:
# 'red'의 값을 출력하세요.
m['red']

4

In [121]:
# 'red'의 값을 10으로 수정하세요.
m['red'] = 10

In [122]:
# key값만 출력하세요
m.keys()

dict_keys(['red', 'blue', 'green'])

In [123]:
# value값만 출력하세요
m.values()

dict_values([10, 3, 1])

In [124]:
# key와 value를 튜플로 출력하세요.
m.items()

dict_items([('red', 10), ('blue', 3), ('green', 1)])

In [125]:
# (key기준으로 정렬하세요.)

In [126]:
# (value기준으로 정렬하세요)

In [127]:
# key 'blue'요소를 삭제하세요
m

{'red': 10, 'blue': 3, 'green': 1}

In [128]:
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
m.get('pink', 20)

20

In [129]:
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
m
m['pink'] = 20

In [113]:
# value에 20이 있는지 확인하세요.
20 in m.values()

True

In [130]:
# key는 'yellow'에 value는 30을 추가하세요.
m['yellow'] = 30

In [132]:
# yourdict = {'파랑':50, '빨강':70}을 합하세요..
yourdict = {'파랑':50, '빨강':70}
m.update(yourdict)

In [133]:
m

{'red': 10,
 'blue': 3,
 'green': 1,
 'pink': 20,
 'yellow': 30,
 '파랑': 50,
 '빨강': 70}