In [1]:
# String
txt1 = 'A tale that was not right'
# 'ale' 이 출력..
txt1[3:6]

'ale'

In [2]:
# 'A tale' 출력
txt1[:6]

'A tale'

In [3]:
# 'not' 출력
txt1[]

SyntaxError: invalid syntax (Temp/ipykernel_4316/3497865020.py, line 2)

In [4]:
# txt1을 소문자 전환
txt1.lower()

'a tale that was not right'

In [5]:
# txt1을 대문자 전환
txt1.upper()

'A TALE THAT WAS NOT RIGHT'

In [6]:
# 'o'가 몇 개 존재하는가?
txt1.count('o')

1

In [7]:
# 'o'가 몇 번 인덱스에 존재하는가?
txt1.index('o')

17

In [8]:
# txt1의 길이는 어떻게 되는가?
len(txt1)

25

In [9]:
# space를 기준으로 나누어서 List에 담으세요..
txt1.split()

['A', 'tale', 'that', 'was', 'not', 'right']

In [10]:
# 'tale'을  'story'로 바꾸세요..
txt1.replace('tale', 'story')

'A story that was not right'

In [11]:
# txt1 안에 'right'가 존재하는지 확인
'right' in txt1

True

In [27]:
# List
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

# 1. sol에서 ['수성','금성']을 출력
sol[1:3]

['수성', '금성']

In [28]:
# 2. sol에서 '지구' 위치 인덱스 출력
sol.index('지구')

3

In [29]:
# 3. sol에서 '화성'을 '해왕성'으로 수정
sol[4] = '해왕성'
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [30]:
# 4. '수성'자리에 '명왕성' 삽입
sol.insert(1, '명왕성')
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [31]:
# 5. '토성'을 맨 끝에 삽입
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [32]:
# 6. 맨 끝 요소를 삭제하고 리턴
sol.pop()
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성']

In [33]:
# 7. '금성'을 제거
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성']

In [34]:
# 8. 1번 인덱스에서 3번 인덱스까지 삭제
del sol[1:4]
sol

['태양', '지구', '해왕성', '목성']

In [35]:
# 9. 인덱스 2번 요소 삭제
sol.pop(2)
sol

['태양', '지구', '목성']

In [36]:
# 10. sol과 sol1을 합치세요
sol + sol1

['태양', '지구', '목성', '토성', '천황성', '해왕성']

In [37]:
# 11. 내림차순 정렬
sorted(sol, reverse = True)

['태양', '지구', '목성']

In [38]:
# 12. 오름차순 정렬
sorted(sol)

['목성', '지구', '태양']

In [39]:
# 13. '만리장성'이 있는지 확인
'만리장성' in sol

False

In [40]:
# 14. so1을 3번 반복하세요
sol1*3

['토성', '천황성', '해왕성', '토성', '천황성', '해왕성', '토성', '천황성', '해왕성']

In [41]:
# 15. 길이를 출력하세요
len(sol1)

3

In [42]:
# 16. '지구'가 몇 개 포함되어있는지 확인.
sol.count('지구')

1

In [43]:
# 17. 모든 원소를 지우세요.
sol.clear()

In [45]:
# 18. sol리스트를 삭제하세요..
del sol

In [60]:
## 명함을 출력하는 class BusinessCardf만들고 객체를 생성해서 메소드를 실행하시오.
# 인스턴스변수 : name, email, addr
# 메소드 : __init__ : 인스턴스 변수 초기화
# 메소드 : print_business_card : 명함을 출력하는 메소드

class BusinessCard:
    def __init__(self, name, email, addr):
        self.name = name
        self.email = email
        self.addr = addr
    def print_business_card(self):
        print(f'''
               이름: {self.name} 
               이메일: {self.email} 
               주소: {self.addr}
               ''')

who = BusinessCard('a', 'b', 'c')
who.print_business_card()

               이름: a
               이메일: b
               주소: c

In [67]:
# 부모 class Parent
# 메소드 : can_sing
# 자식 class LuckyChild
# 메소드 : can_dance
# 위의 두 클래스를 만들고 child class의 메소드를 실행하시오..
class Parent:
    def __init__(self, name):
        self.name = name
    def can_sing(self):
        print(f'{self.name}')
              
              
class LuckyChild(Parent):
    def can_dance(self):
        print(f'{self.name} = {self.name}')
        
a = LuckyChild('apple')
a.can_dance()

apple = apple

In [76]:
# 사칙연산 클래스를 만들고 메소드를 실행하시오..
# 인스턴스변수 : x, y
# 메소드 : init, add, sub, mul, div
# overriding

class smart:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    def add(self):
        result = self.a + self.b
        return result
    def sub(self):
        result = self.a - self.b
        return result
    def mul(self):
        result = self.a * self.b
        return result
    def div(self):
        result = self.a / self.b
        return result

go = smart(2,4)
go.div()

0.5

In [79]:
# overriding
# Calculator class의 div 메소드를 overriding..

class div(smart):
    def div(self):
        if self.b == 0:
            return 0
        else:
            return self.a / self.b
come = div(9,0)
come.div()

0

In [83]:
# 원의 면적과 원의 둘레를 구현하는 class Circle
# 인스턴스변수 : r(반지름)
# 메소드 : area(원의 면적: 3.14*r**2), perimeter(원의 둘레: 3.14*r*2)

class circle:
    def __init__(self, r):
        self.r = r
    
    def area(self):
        return 3.14 * self.r ** 2
    
    def perimeter(self):
        return 3.15 * self.r * 2

wow = circle(3)
wow.area()
wow.perimeter()

18.9

In [84]:
# Tuple
myTuple = ('tuple',(1,2,3),[4,5,6,7,8],'7','8','9')

# 'tuple'을 출력하세요
myTuple[0]

'tuple'

In [85]:
# 3을 출력하세요
myTuple[1][2]

3

In [86]:
# 4,5를 출력하세요
myTuple[2][:2]

[4, 5]

In [87]:
# [4,5,6]을 출력하세요
myTuple[2][:3]

[4, 5, 6]

In [88]:
# tuple의 길이를 리턴하세요(요소의 갯수가 몇개인지)
len(myTuple[0])

5

In [89]:
# '7'이 있는지 확인하세요
'7' in myTuple

True

In [91]:
# '7'의 인덱스를 출력하세요.
myTuple.index('7')

3

In [92]:
# '7'이 몇 개 있는지 확인하세요
myTuple.count('7')

1

In [93]:
# 인데스 2번를 출력하세요
myTuple[2]

[4, 5, 6, 7, 8]

In [94]:
# 인데스 2번에서 최대값을 출력하세요
max(myTuple[2])

8

In [95]:
# 인데스 2번에서 최소값을 출력하세요
min(myTuple[2])

4

In [96]:
# 인데스 2번에서 총합을 출력하세요
sum(myTuple[2])

30

In [97]:
# 인데스 2번에서 평균을 출력하세요

sum(myTuple[2]) / len(myTuple[2])

6.0

In [98]:
# 인데스 2번를 내림차순 정렬해서 출력하세요.
sorted(myTuple[2], reverse = True)

[8, 7, 6, 5, 4]

In [99]:
# Set

# 원소가 없는 set인 s를 만드세요
s = set()

In [100]:
# s에 원소 'sky'와 'earth'를 추가하세요
s.add('sky')
s.add('earth')
s

{'earth', 'sky'}

In [101]:
# s에 1,2 두 원소를 추가하세요
s.add(1)
s.add(2)

In [102]:
# s에서 'sky'를 삭제하세요
s.remove('sky')
s

{1, 2, 'earth'}

In [103]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}

# 두 집합의 합집합을 출력
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [104]:
# 두 집합의 교집합을 출력
A.intersection(B)

{1, 2, 3}

In [105]:
# A의 B에 대한 차집합
A.difference(B)

{4, 5, 6}

In [106]:
# 대칭차집합
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

In [107]:
# C가 A의 부분집합인지 확인
C.issubset(A)

True

In [108]:
# A가 C를 포함하는지 확인
A.issuperset(C)

True

In [109]:
# 집합 B의 길이를 출력
# 집합 B의 최대값 출력
# 집합 B의 최소값 출력
# 집합 B의 합을 출력
# 집합 B의 평균출력
# 집합 B의 내림차순 출력
# 집합 B에 5가 포함되어 있는지 확인

In [110]:
# Dictionary

# 'mydict'라는 딕셔너리를 만드세요.
d = {}

In [111]:
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
d['red']=4
d['blue']=3
d['green']=1
d

{'red': 4, 'blue': 3, 'green': 1}

In [112]:
# key에 'blue'가 있는지 확인하세요.
'blue' in d

True

In [114]:
# mydict의 길이를 출력하세요.len(d)
len(d)

3

In [115]:
# 'red'의 값을 출력하세요.
d['red']

4

In [116]:
# 'red'의 값을 10으로 수정하세요.
d['red'] = 10
d

{'red': 10, 'blue': 3, 'green': 1}

In [117]:
# key값만 출력하세요
d.keys()

dict_keys(['red', 'blue', 'green'])

In [118]:
# value값만 출력하세요
d.values()

dict_values([10, 3, 1])

In [121]:
# key와 value를 튜플로 출력하세요.
d.items()

dict_items([('red', 10), ('blue', 3), ('green', 1)])

In [136]:
# (key기준으로 정렬하세요.)
sorted(d.items(), key = lambda x : x[0])

[('blue', 3), ('green', 1), ('red', 10)]

In [135]:
# (value기준으로 정렬하세요)
sorted(d.items(), key = lambda x : x[1])

[('green', 1), ('blue', 3), ('red', 10)]

In [139]:
# key 'blue'요소를 삭제하세요
d.pop('blue')
d

{'red': 10, 'green': 1}

In [140]:
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
d.get('pink')

In [142]:
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요

if d.get('pink'):
    print(d)
else:
    d['pink'] = 20
    print(d)

{'red': 10, 'green': 1, 'pink': 20}

In [143]:
# value에 20이 있는지 확인하세요.
20 in d.values()

True

In [144]:
# key는 'yellow'에 value는 30을 추가하세요.
d['yellow'] = 30
d

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 30}

In [149]:
# yourdict = {'파랑':50, '빨강':70}을 합하세요..
yourdict = {'파랑':50, '빨강':70}
d.update(yourdict)
d

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 30, '파랑': 50, '빨강': 70}

In [152]:
# If

## 임의 정수(n)를 입력받은 후 0부터 n까지의 정수 중 짝수들의 합을 구하시오.

n = int(input())

suma = 0

for i in range(0, n+1, 2):
    suma += i
print(suma)

8
20

In [156]:
# 주민번호 '851205-2000000'
# 주민번호를 입력받은 후 "당신의 나이는 __이고, 성별은 __입니다"를 출력하시오..

person = input('주민번호 입력')

age = 2022 - (1900 + int(person[:2]))

gender = ''

if int(person[7]) == 1:
     gender = '남자'
elif int(person[7]) == 2:
     gender = '여자'

print(f'당신의 나이는 {age}살이고, 성별은 {gender}입니다.')

주민번호 입력721117-2673816
당신의 나이는 50살이고, 성별은 여자입니다.

In [159]:
# names = {'mary':1520, 'tom':5214, 'park':5478, 'sams':5478}
# 이름을 입력받은 후 names dict에 이름이 있으면 값을 출력하고,
# 없으면 새로운 값 2000과 함께 dict에 'key':'value'로 추가
# setdefault를 사용하지 않음..

names = {'mary':1520, 'tom':5214, 'park':5478, 'sams':5478}

name = input('이름 입력')

if name in names:
    print(names[name])
else:
    names[name] = 2000
    print(names)

이름 입력qqqqq
{'mary': 1520, 'tom': 5214, 'park': 5478, 'sams': 5478, 'qqqqq': 2000}

In [ ]:
# 학점 출력.. 점수를 입력받은 후..
# 90점 이상이면 "당신은 'A'학점입니다"를 출력
# 80점 이상이면서 90점 미만이면 "당신은 'B'학점입니다"를 출력
# 70점 이상이면서 80점 미만이면 "당신은 'C'학점입니다"를 출력
# 70점 미만이면 "당신은 D학점입니다"를 출력

In [165]:
# For

# text = 'python is fun'
# text의 character를 모음만 대문자로 전환해서 출력하세요.   
# 참고) 영어모음 = ‘aeiou’
text = 'python is fun'
for i in text:
    if i in 'aeiou':
        print(i.upper())

O
I
U

In [166]:
# 위의 text의 문자를 index와 함께 출력하시오.
for i in enumerate(text):
    print(i)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')
(6, ' ')
(7, 'i')
(8, 's')
(9, ' ')
(10, 'f')
(11, 'u')
(12, 'n')

In [174]:
# 1~20까지 수에서 짝수만 리스트에 담으세요.
# => for문과 while문, list comprehension을 각각 활용

# li = []
# for i in range(0, 21, 2):
#     li.append(i)
# li

# num = 1
# li = []
# while num <=20:
#     num += 1
#     if num % 2 == 0:
#         li.append(num)
# print(li)

[i for i in range(1, 21) if i % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [178]:
# 임의의 수를 입력받은 후 팩토리얼을 계산하는 코드를 작성하시오..

n = int(input('정수'))
i = 1
while (n + 1) > 1:
    i *= n
    n -= 1
print(i)

정수5
120

In [187]:
# 1~10까지 정수를 출력하는 while문에서 continue와 break를 이용해서 
# 3,4,5,6만 출력하도록 하시오.

i = 1
while i <= 10:
    i += 1
    if i < 3:
        continue
    elif 3<=i<=6:
        print(i)
    else: 
        break

3
4
5
6

In [195]:
# x = ['a','b','c','d','e'], y = ['가','나','다','라','마'] 
# 두 리스트의 원소들의 모든 조합을 아래와 같이 출력하시오.     =>     
# [('a','가'), ('a','나'), ('a', '다')  ...  ('e','라'), ('e', '마')]

x = ['a','b','c','d','e']
y = ['가','나','다','라','마'] 

li = []
for i in x:
    for j in y:
        a = (i, j)
        li.append(a)
print(li)

[('a', '가'), ('a', '나'), ('a', '다'), ('a', '라'), ('a', '마'), ('b', '가'), ('b', '나'), ('b', '다'), ('b', '라'), ('b', '마'), ('c', '가'), ('c', '나'), ('c', '다'), ('c', '라'), ('c', '마'), ('d', '가'), ('d', '나'), ('d', '다'), ('d', '라'), ('d', '마'), ('e', '가'), ('e', '나'), ('e', '다'), ('e', '라'), ('e', '마')]

In [198]:
# computational thinking에서 홀수인덱스만 리스트에 담으세요..

text = 'computational thinking'

li = []
for i in range(len(text)):
    if i % 2 == 1:
        a = text[i]
        li.append(a)
print(li)

['o', 'p', 't', 't', 'o', 'a', ' ', 'h', 'n', 'i', 'g']

In [200]:
# 점수를 5회 입력받은 후 평균을 출력하세요.

count = 1
total = 0
while count <= 5:
    count += 1
    score = int(input('점수'))
    total += score
print(total / 5)

점수10
점수20
점수30
점수40
점수50
30.0

In [201]:
# text = 'hello world'에서 각 문자를 인덱스와 함께 튜플로 묶어서 출력
# (0, 'h'), (1, 'e') ...
text = 'hello world'

for i in enumerate(text):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [ ]:
# 구구단을 출력하시오…

In [202]:
# word의 길이가 4 이상인 단어의  단어길이 총합을 구하시오
words = ['mountain', 'sea', 'sky', 'river', 'cloud', 'tree', 'lake']

total = 0
for i in words:
    if len(i) >= 4:
        total += len(i)
print(total)

26

In [ ]:
# File

# 'mytest.txt' 파일을 열어서 아래의 텍스트를 기록하세요..
'hello python',
'python programming'.
'python world',
'bigdata',
'artificail intelligence'

f = open()

In [ ]:
# 'mytest.txt' 파일을 열어서 4가지 방법으로 읽어서 출력하세요..