String

In [44]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라'

#------------------------------

# tale을 출력하시오
txt1[4:8]

'tale'

In [5]:
# '지'를 출력하시오
txt2[5]

'지'

In [6]:
# 'a'는 몇 개가 존재하는가?
txt1.count('a')

3

In [47]:
#  txt1에서 모음의 개수는 몇 개인가?

# print(txt1.count('a'))
# print(txt1.count('e'))
# print(txt1.count('i'))
# print(txt1.count('o'))
# print(txt1.count('u'))

suma = 0
for c in txt1:
    if c in 'aeiouAEIOU':
        suma += 1
suma

7

In [10]:
# '또한'을 '것도'로 수정하시오
txt2.replace('또한', '것도')

'이 것도 지나가리라'

In [45]:
# txt1을 대문자로 출력하시오
txt1.upper()

'  A TALE THAT WAS NOT RIGHT  '

In [48]:
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
txt1.index('right')

22

In [46]:
# txt1을 sapce 기준으로 나누어서 리스트에 담으시오
txt1.split()

['A', 'tale', 'that', 'was', 'not', 'right']

In [15]:
# txt2의 길이는 얼마인가?
len(txt2)

10

In [49]:
# txt2를 character 단위로 나누어서 리스트에 담으시오
list(txt2)

['이', ' ', '또', '한', ' ', '지', '나', '가', '리', '라']

In [50]:
# txt1의 좌우 공백을 제거하시오
txt1.strip()

'A tale that was not right'

In [51]:
# txt2를 역순으로 출력하시오
txt2[::-1]

'라리가나지 한또 이'

In [53]:
# txt1에서 짝수 인덱스만 출력하시오
# for i in txt1:
#     if txt1.index(i) % 2 == 0:
#         print(i, end=' ')

txt1[0:50:2]

' Atl htwsntrgt '

In [55]:
# txt2를 두 번 반복하시오
txt2 * 2

'이 또한 지나가리라이 또한 지나가리라'

In [22]:
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오
txt1 + txt2

'A tale that was not right이 또한 지나가리라'

In [23]:
# txt1에서 'right'이 존재하는지 확인하시오
'right' in txt1

True

In [56]:
# txt1에서 뒤에서 5번째 문자를 출력하시오
txt1[-5]

'g'

In [27]:
# txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오
for i,j in enumerate(txt1):
    print((i,j), end='')

(0, 'A')(1, ' ')(2, 't')(3, 'a')(4, 'l')(5, 'e')(6, ' ')(7, 't')(8, 'h')(9, 'a')(10, 't')(11, ' ')(12, 'w')(13, 'a')(14, 's')(15, ' ')(16, 'n')(17, 'o')(18, 't')(19, ' ')(20, 'r')(21, 'i')(22, 'g')(23, 'h')(24, 't')

In [57]:
#  url중 도메인만 출력하시오
url = 'http://www.naver.com/news/today=20221230'

# url[:20]

url.split('/')[2]

'www.naver.com'

In [58]:
# 아래와 같이 출력하시오
# name => '홍길동'
# age => 17
# sex => 남성
#...
log = 'name:홍길동, age:17, sex:남성, nation:대한민국'

for i in log.split(','):
    print(i.split(':')[0].strip(), '=>', i.split(':')[1].strip())

name => 홍길동
age => 17
sex => 남성
nation => 대한민국

### datatype
1. 기본형
- int: 1,2,3,4
- float: 1.1, 2.4, 5.67
- bool: True, False

2. 군집형(여러 요소가 모여서 하나의 데이터 형식)
- string: '', 요소의 수정, 삭제, 추가 안됨. 순서,인덱스 존재
- list: [], 요소의 수정, 삭제, 추가가 자유로움. 순서, 인덱스 존재
- tuple: () , 요소의 수정, 삭제, 추가 안됨.수정하지 않을 값, 보조용
- set: {}, 집합, 요소의 삭제, 추가 안 됨. 중복요소가 없다. 집합연산
- dictionary: {key:value}, 요소의 수정, 삭제, 추가가 자유로움. 데이터의 저장(json과 유사),순서 없고, 인덱스는 key 역할

####List

In [120]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3)]

# 't'를 출력하시오
score[3][2]

't'

In [121]:
# 56을 출력하시오
score[6][1]

56

In [122]:
# 마지막 요소의 최대값을 출력하시오
max(score[7])

25

In [123]:
# 'python'을 'world'로 수정하시오
score[3]='world'
print(score)

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [124]:
# 마지막에 'sun'을 추가하시오

score.append('sun')
print(score)

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [125]:
# 'world'가 있는지 확인하시오
'world' in score

True

In [126]:
# 마지막에서 2번째 요소를 내림차순으로 정렬하시오
sorted(score[-2], reverse = True)

[25, 24, 3]

In [127]:
# 90은 몇 번째 인덱스에 있는지 확인하시오
score.index(90)

1

In [130]:
# 리스트를 역순으로 정렬하시오
# score[::-1]
score.reverse()
score

['sun', (24, 25, 3), [78, 56, 32], True, 'hello', 'world', 78, 90, 81]

In [110]:
# 3번째 인덱스에 'sea'를 추가하시오
score.insert(3, 'sea')
print(score)

[81, 90, 78, 'sea', 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [111]:
# True를 False로 수정하시오
score[6] = 'False'
print(score)

[81, 90, 78, 'sea', 'world', 'hello', 'False', [78, 56, 32], (24, 25, 3), 'sun']

In [112]:
# 'world'를 제거하시오
# score.remove('world')
print(score)

[81, 90, 78, 'sea', 'world', 'hello', 'False', [78, 56, 32], (24, 25, 3), 'sun']

In [113]:
# 7번째 요소를 제거하시오
del score[7]
print(score)

[81, 90, 78, 'sea', 'world', 'hello', 'False', (24, 25, 3), 'sun']

In [134]:
# 마지막 요소를 제거하시오
score.pop()
print(score)

['sun', (24, 25, 3), [78, 56, 32], True, 'hello', 'world', 78, 90]

In [135]:
# 리스트의 길이를 출력하시오
len(score)

8

In [170]:
# 두 번째 요소의 데이터 타입을 출력하시오
print(type(score[2]))

<class 'str'>

In [171]:
# [78, 56, 32]를 '78:56:32'로 수정하시오

list(map(str, score[2]))
score[2]

score[2]=':'.join(score[2])
print(score)

['sun', (24, 25, 3), '7:::8:::::::5:::6:::::::3:::2', True, 'hello', 'world', 78, 90]

In [117]:
# 모든 원소를 제거하시오
del score[:]
print(score)

[]

In [94]:
# 리스트를 삭제하시오

In [118]:
del score